.firstpage {
    height: 733px;
    width: 100%;
    border: 1px solid black;
    background-image: url("bill_bg.jpg");
    background-size: 117% 111%;
    padding-top: 0;
    margin-bottom: 0;
    text-align: center;
    display: inline-block;
}

.numperson {
    height: 30px;
    width: 300px;
    /*border: 1px solid black;*/
    display: inline-block;
}

.person_block {
    height: 75px;
    width: 300px;
    /*border: 1px solid black;*/
    display: inline-block;
}

.flight_block .image {
    height: 2%;
    width: 2%;
    border: 10px solid black;
    margin-top: 3%;
    display: inline-block;
}

.firstpage .textbox {
    height: 10px;
    width: 100%;
    /*border: 1px solid black;*/
    display: inline-block;
    text-align: left;
    font-size: 17px;
}

.firstpage .buttonbox {
    height: 9%;
    width: 9%;
    border: 1px solid black;
    display: inline-block;
}

.main {
}
