.firstpage {
    height: 733px;
    width: 100%;
    border: 1px solid black;
    background-image: url("deal_bg.jpg");
    background-size: 117% 111%;
    padding-top: 0;
    margin-bottom: 0;
}

.firstpage_remaning {
    height: 600px;
    width: 100%;
    /*border: 10px solid black;*/
    text-align: center;
    /*vertical-align:middle;*/
    display: inline-block;
    /*text-shadow:0px 0px 10px rgb(33, 44, 106);*/
}

.deal {
    height: 300px;
    width: 20%;
    /*border: 1px solid black;*/
    display: inline-block;
    margin:20px;
}

   

.deal1 {
    /*background: url("deals\deal1_mumbai.jpg") 50% 50% no-repeat;*/
    background-image: url("deal1_mumbai.jpg");
    background-size: 170% 111%;
    height: 100%;
}
.deal2{
    background-image: url("deal2.jpg");
    background-size: 170% 111%;
    height: 100%;
}
.deal3{
    background-image: url("deal3.jpg");
    background-size: 150% 100%;
    height: 100%;
}
.button {
    height: 50px;
    width: 20%;
    /*border: 1px solid black;*/
    display: inline-block;
    text-align: center;
}
